---
import Layout from "../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getLaunchById } from "../../services/spacex";
import { type Doc } from "../../types/api";
export const prerender = false;
const { id } = Astro.params;
let launch: Doc = {} as Doc;
if (id) {
  launch = await getLaunchById({ id });
}

export const getStaticPaths = (() => {
  return [];
}) satisfies GetStaticPaths;

console.log(launch);
---

<Layout title={`Lanzamientos ${id}`}>
  <article class="flex gap-y-4 flex-col">
    <img class="w-52 h-auto" src={launch.links.patch.small} alt={launch.name} />
    <h2 class="text-4xl text-white font-bold">
      Launch #{launch.flight_number}
    </h2>
    <p class="text-lg">{launch.details}</p>
  </article>
</Layout>
